.main {
	padding-top: 25px;
}

.topspacing {
	
	padding-top: 25px;
}

.right{
	float:right;
}
.left{
	float:left;
}

.spaceright{
	
	padding-right:10px;
}

.spaceleft {
	
	margin-left:10px;
}

.workout {
	
	height:100px;
}

.red {
	
	color:red;
}