.main {
	padding-top: 25px;
}

.topspacing {
	
	padding-top: 25px;
}
.bottomspacing {
	padding-bottom: 25px;
}

.spacing {
	padding-top: 25px;
	padding-bottom: 25px;
}

.right{
	float:right;
}
.left{
	float:left;
}

.spaceright{
	
	padding-right: 25px;
}

.spaceleft {
	
	margin-left: 10px;
}

.workout {
	
	height: 100px;
}

.red {
	
	color: red;
}
.taller {
	
	height: 65px;
}